body {
  background-color: darkolivegreen;
  font-family: georgia, serif;
}
h1 {
  background-image: url("https://live.staticflickr.com/3674/20435613171_45531b8809_b.jpg");
  border-style: ridge;
  border-width: thick;
  text-align: center;
  font-family: copperplate, fantasy;
  font-size: 9vw;
}
#pcenter {
  text-align: center;
  font-family: copperplate, fantasy;
  font-size: 2.5vw;
}
nav {
  text-align: center;
  font-family: georgia, serif;
  font-size: 2vw;
  word-spacing: 30px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
a:link {
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: black;
}
#pbody {
  text-indent: 50px;
}
.contact {
  border-style: ridge;
  border-width: thick;
  text-align: center;
  font-size: 1.5vw;
  background-color: DarkGrey;
  position: sticky;
  bottom: 0;
}
.img-border {
  border-style: ridge;
  border-width: thick;
}
